h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
    font-family: "Didact Gothic", serif;
    border-spacing: 10px;
}

hr {
    max-width: 200px;
    align-content: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    flex-wrap: wrap;
    font-family: "Didact Gothic", serif;
}

.hclass {
    font-size: 20px;
    text-align: center;
    border-spacing: 10px;
    font-family: "Didact Gothic", serif;
}

.p12 {
    font-family: "Didact Gothic", serif;
    font-size: 14px;
    text-align: justify;
    display: block;
    border-spacing: 20px;
    margin: 10px;
}

.p13 {
    font-family: "Didact Gothic", serif;
    font-size: 14px;
    display: block;
    border-spacing: 20px;
    text-align: justify;
    margin: 10px;
}

body {
    background-color: #3f5c6e;
    margin: 0;
    padding: 0;
}

.container2-cover {
    margin: 0;
}

.container2 {
    margin-left: 90px;
    word-break: break-all;
    width: 20rem;
    display: block;
    height: max-content;
    text-align: center;
    border-spacing: 90px;
    position: relative;
    opacity: .8;
    background-color: #4ABDAC;
    border-radius: 2px;
}

.container3 {
    margin-left: 125px;
    width: 15rem;
    background-color: #4ABDAC;
    border-radius: 2px;
    opacity: .8;
    position: relative;
}

.container4 {
    margin-left: 52px;
    width: 25rem;
    background-color: #4ABDAC;
    border-radius: 2px;
    opacity: .8;
    position: relative;
}

.hrleft {
    margin-left: 145px;
    max-width: 200px;
    margin-top: -5px;
    border: 1px solid;
    color: #4585ff;
    border-radius: 5px;
}

.container5 {
    margin-left: 165px;
    width: 10rem;
    background-color: #4ABDAC;
    border-radius: 2px;
    opacity: .8;
    position: relative;
}

.container6 {
    width: 5rem;
    background-color: #4ABDAC;
    position: relative;
    opacity: .8;
    border-radius: 2px;
    margin-left: 205px;
    align-content: center;
}

.p14 {
    font-family: 'Didact Gothic', serif;
    font-size: 14px;
    display: block;
    text-align: justify;
    margin: 10px;
}

.bg1 {
    width: 28.75rem;
    height: 20.75rem;
    display: block;
    background-color: #1f546e;
    margin-top: -860px;
}

.bg2 {
    width: 28.75rem;
    height: 17.95rem;
    margin-top: -15px;
    background-color: #6e1f1a;
    display: block;
}

.bg3 {
    width: 28.75rem;
    height: 22.75rem;
    margin-top: -15px;
    display: block;
    background-color: #4f864a;
}

.container8 {
    margin-left: 52px;
    width: 25rem;
    background-color: #4ABDAC;
    opacity: .8;
    border-radius: 2px;
}

.sec#sec2 {
    position: fixed;
    margin-top: 10px;
}